<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>afwf-github</string>
	<key>connections</key>
	<dict>
		<key>2502D096-5AD0-4EF2-8360-2CAA5B10DC26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93922B66-FA05-46D4-8738-12BCFC730260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8A64573-2CA6-4490-AFA1-3D65A888E226</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3668C61B-A347-488B-B227-3FA93E728D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93922B66-FA05-46D4-8738-12BCFC730260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>868082BA-BA2D-4DA5-9C77-E6FDBD20C873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E10A1D9-74A1-465C-937E-B0E526024B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3155913-A7CE-4BD2-BBEA-ACA6423CD712</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>868082BA-BA2D-4DA5-9C77-E6FDBD20C873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F35E20DC-2024-464A-9530-11744155BCE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93922B66-FA05-46D4-8738-12BCFC730260</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE91A46-7C9E-4984-8BDF-8E35987349CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3155913-A7CE-4BD2-BBEA-ACA6423CD712</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B464B07-500D-4AEC-ABF7-46CA9C89A141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7686ED6-4375-40B4-8C23-9EC1B86534D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93922B66-FA05-46D4-8738-12BCFC730260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>868082BA-BA2D-4DA5-9C77-E6FDBD20C873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8A64573-2CA6-4490-AFA1-3D65A888E226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AFE0139-F62F-454F-B08B-439294D1B6BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC70DA22-C9D2-4A55-A6BD-58FE32EEFE2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93922B66-FA05-46D4-8738-12BCFC730260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E10A1D9-74A1-465C-937E-B0E526024B59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sanhe Hu</string>
	<key>description</key>
	<string>GitHub Alfred Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>afwf_github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>gh-config</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>~/.pyenv/shims/python3.8 main.py 'config {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Configure GitHub Alfred Workflow</string>
				<key>title</key>
				<string>gh-config</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2502D096-5AD0-4EF2-8360-2CAA5B10DC26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:_open_log_file_path}</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{var:_open_log_file_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7EE91A46-7C9E-4984-8BDF-8E35987349CF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:_open_log_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>93922B66-FA05-46D4-8738-12BCFC730260</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:open_url_arg}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F35E20DC-2024-464A-9530-11744155BCE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>~/.pyenv/shims/python3.8 main.py 'repo {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>GitHub Alfred Workflow</string>
				<key>title</key>
				<string>gh</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3668C61B-A347-488B-B227-3FA93E728D24</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_url}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>868082BA-BA2D-4DA5-9C77-E6FDBD20C873</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>gh-rebuild-index</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>~/.pyenv/shims/python3.8 main.py 'rebuild_index no_query'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Rebuild Index for GitHub Alfred Workflow</string>
				<key>title</key>
				<string>gh-rebuild-index</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC70DA22-C9D2-4A55-A6BD-58FE32EEFE2D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:open_file_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0AFE0139-F62F-454F-B08B-439294D1B6BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F8A64573-2CA6-4490-AFA1-3D65A888E226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B464B07-500D-4AEC-ABF7-46CA9C89A141</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>gh-view-in-browser</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>please wait ...</string>
				<key>script</key>
				<string>~/.pyenv/shims/python3.8 main.py 'view_in_browser {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View file in web browser</string>
				<key>title</key>
				<string>gh-view-in-browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E7686ED6-4375-40B4-8C23-9EC1B86534D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>run_script</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>492059C7-1F2D-4A20-A092-4DA6D103F614</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5E10A1D9-74A1-465C-937E-B0E526024B59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:run_script_arg}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D3155913-A7CE-4BD2-BBEA-ACA6423CD712</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See full documentation at https://github.com/MacHu-GWU/afwf_github-project</string>
	<key>uidata</key>
	<dict>
		<key>0AFE0139-F62F-454F-B08B-439294D1B6BC</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>2502D096-5AD0-4EF2-8360-2CAA5B10DC26</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3668C61B-A347-488B-B227-3FA93E728D24</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>5B464B07-500D-4AEC-ABF7-46CA9C89A141</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>5E10A1D9-74A1-465C-937E-B0E526024B59</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>7EE91A46-7C9E-4984-8BDF-8E35987349CF</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>868082BA-BA2D-4DA5-9C77-E6FDBD20C873</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>93922B66-FA05-46D4-8738-12BCFC730260</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D3155913-A7CE-4BD2-BBEA-ACA6423CD712</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>E7686ED6-4375-40B4-8C23-9EC1B86534D6</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>F35E20DC-2024-464A-9530-11744155BCE0</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>F8A64573-2CA6-4490-AFA1-3D65A888E226</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>FC70DA22-C9D2-4A55-A6BD-58FE32EEFE2D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/MacHu-GWU/afwf_github-project</string>
</dict>
</plist>
